body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#countdown-container {
  font-size: 3em;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 20px;
  display: inline-block;
}