body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    text-align: center;
    position: ;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
}

.header h1 {
    font-size: 24px;
    color: black;
}

input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    text-align: center;
}

.messages {
    margin-top: 20px; /* Ajusta el margen superior para evitar que los mensajes se superpongan con el campo de entrada */
}

.message {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message .text {
    font-size: 16px;
    color: black;
}

.message .timestamp {
    font-size: 12px;
    color: black;
}


.clear-button {
    background-color: #ff6b6b; /* Cambia el color de fondo a un tono de rojo */
    color: white;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
    margin: 10px auto; /* Centrar verticalmente */
    max-width: 200px; /* Establece un ancho máximo para evitar que sea demasiado ancho */
}

.export-button {
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    display: block; /* Para centrarlo horizontalmente */
    margin: 0 auto; /* Para centrarlo vertical y horizontalmente */
}

.export-button:hover {
    background-color: #45a049; /* Color verde oscuro al pasar el ratón */
}

.search-bar {
    text-align: center;
    margin-top: 15px;
}

.rounded-input {
    width: 15% !important;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    outline: none;
    text-align: center;
}

// resaltar en amarillo

.highlight {
    background-color: yelow !important;
}